<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Created by Rohan Maity on 11/1/21 3:19 PM
  ~  Copyright (c) 2021 . All rights reserved.
  ~  Last modified 11/1/21 3:12 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.rot.labs.projectconf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".ConfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectConf"
        tools:ignore="AllowBackup">
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove"
            android:exported="false" />

        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.archive.ArchiveActivity" />
        <activity android:name=".ui.allTech.AllTechActivity" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".ui.eventsList.EventsListActivity" />
        <activity android:name=".ui.eventDetails.EventDetailsActivity" />
        <activity android:name=".ui.alerts.alertsNotification.AlertsNotificationActivity"/>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="io.rot.labs.projectconf.background.reminders.AlarmBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".background.cfpUrl.CFPUrlReceiver"/>
    </application>

</manifest>